{% extends 'base.html.twig' %}

{% block body %}
    <h1>BlogPost</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ BlogPost.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ BlogPost.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ BlogPost.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': BlogPost.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
