{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <hr>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <a type="btn" class="btn btn-outline-primary" href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>

            {% for user in users %}
                <div class="user-preview">
                    <h2><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></h2>
                    <p>{{ user.email }}</p>
                        <a class="btn"  href="{{path('user_show', {'id': user.id})}}">Voir</a>

                        <a class="btn" href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
                </div>
                <hr>
            {% endfor %}

            <div class="clearfix"><a class="btn btn-primary float-right" href="#">En haut ↑</a></div>
        </div>
    </div>

    <div class="offset-2 col-md-2">
        <a class="btn btn-primary float-right" href="{{path('post_index')}}">Retour au gestionnaire </a>
    </div>
{% endblock %}
