{% extends 'base.html.twig' %}


{% block body %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Gestion d'un utilisateur</h1>
        <hr>
        <br>
        <a type="button" class="btn btn-info"
           href="{{ path('post_new') }}">Créer un nouvel article</a>
        <a type="button" class="btn btn-info"
           href="{{ path('comment_index') }}">Gérer les commentaires</a>

                {# je crée ma zone user#}
                <div class="user-preview">
                    <p type="hidden">je suis un numéro id:{{user.id}} </p>
                    <h2 class="user-username">
                        {#je récupère le username#}
                        {{ user.username }}
                    </h2>
                    <p class="user-email">
                        {{ user.email }}
                    </p>
                    <p class="user-password">
                        {{ user.password }}
                    </p>
                    <p>{% if user.isActive %}
                            Actif
                        {% else %}
                            Non actif
                        {% endif %}
                    </p>
                    {#j'ajoute la date de mise en ligne du post#}
                </div>

                <div>
                    <p><a type="button" class="btn btn-outline-secondary"
                          href="{{ path('user_index') }}">Retour à la liste</a>
                    </p>

                    <p><a type="button" class="btn btn-outline-success"
                          href="{{ path('user_edit', { 'id': user.id }) }}">Modifier</a>
                    </p>
                </div>

    </div>

        </div>
        <hr>

{% endblock %}
