{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Reybeka</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <img src="{{ asset('img/Photo_Reybeka.png') }}" alt="photo Reybeka Peyrat"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for currentPost in allPosts %}
                <div class="post-preview">
                    <a href="{{ path('post_show', { id:currentPost.id }) }}">
                        <p hidden>je suis un numéro id:{{currentPost.id}}</p>
                        <h2 class="post-title">
                            {{ currentPost.title }}
                        </h2>
                        <p>{{ currentPost.createdAt|date('d-m-Y H:i:s') }}</p>
                        {#<p class="post-meta">Posté le {{ blog_post.created }}</p>#}
                        <h3 class="post-subtitle">
                            {#je récupère le contenu en appliquant un truncate pour le châpo#}
                           {# {{ blog_post.contenu | truncate(100) }} #}
                            {{ currentPost.content }}
                        </h3>
                        <a class="btn"  href="{{path('home_post_show', {id: currentPost.id})}}">Lire plus...</a>
                    </a>

                </div>
                <hr>
            {% endfor %}

            <div class="clearfix"><a class="btn btn-primary float-right" href="#">En haut ↑</a></div>
        </div>
    </div>

{% endblock %}
