{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for message in app.flashes('warning') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
            {% for currentPost in allArticles %}
                {% if currentPost.published == true %}
                <div class="post-preview">
                    <a href="{{ path('home_post_show', { id:currentPost.id }) }}"></a>
                        <h2 class="post-title">
                            {{ currentPost.title }}
                        </h2>
                        <p>Posté le {{ currentPost.createdAt|date('d-m-Y H:i:s') }}</p>
                    <h3 class="post-subtitle">
                            {#je récupère le contenu en appliquant un truncate filter pour le châpo#}
                          {{ currentPost.content | truncate(100) }}
                    </h3>
               <a class="btn"  href="{{path('home_post_show', {id: currentPost.id})}}">Lire plus...</a>
       </div>
       <hr>
                {% endif %}
            {% endfor %}
                    <div class="offset-2 col-md-4 "></div>
                    {# fonction range(a, b) qui crée un tableau d'intervalle d'éléments depuis start to end #}
                    {% for pageNumber in range(1, numberOfPage) %}
                        <p{% if pageNumber == page %} class="active"{% endif %}>
                            <a href="{{ path('home_index')}}?page={{ pageNumber }}">[  {{ pageNumber }}  ]</a>
                        </p>
                    {% endfor %}
                    </div>

            <div class="clearfix"><a class="btn btn-primary float-right" href="#">En haut ↑</a></div>
        </div>
    </div>

{% endblock %}
