{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {# je crée ma zone de post#}
            <div class="post-preview">
                    <input type="hidden" {{post.id}} >
                        <h2 class="post-title">
                        {#je récupère le titre du post#}
                        {{ post.title }}
                        </h2>
                    <p class="post-subtitle">
                        {{ post.content }}
                    </p>
                {#j'ajoute la date de mise en ligne du post#}
                <p> Par {{ post.author }}</p>
                <p class="post-meta">Posté le {{ post.createdAt | date('d/m/Y \H:i:s') }}</p>
            </div>

            {# je crée ma partie commentaire#}
                    <section id="commentaires">
                        <h3>Commentaires</h3>
                        <hr>

                        {% for comment in post.comments %}

                        {% if comment.approved == 1 %}
                            <div class="comment">
                             <div class="row">
                                    <div class="col-3">
                                    {{ comment.author }} (<small>{{ comment.createdAt|date('d/m/Y \H:i:s') }}</small>)
                                    </div>
                                    <div class="col-9">
                                    {{ comment.content | raw  }}
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endif %}

                        {% else %}
                            <p> Il n'y a aucun commentaire.</p>
                        {% endfor %}
                    </section>

                    <h4>Ajouter un commentaire</h4>
                        {{ form(formComment) }}

            <div class="container"><a class="btn btn-primary float-right" href="{{path('home_index')}}">Retour à l'accueil </a></div>
        </div>
    </div>

{% endblock %}
