{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier l'article</h1>

    <div class="row">
        <div class="col-md-12">
            {{ form_start(edit_form) }}
                {{ form_row(edit_form.title) }}
                {{ form_row(edit_form.content) }}
                {{ form_row(edit_form.author) }}
                {% if edit_form.published == true %}
                 {{ form_row(edit_form.published) }}
                {% endif %}
                <button type="submit" value="Modifier"
                        class="btn btn-outline-success">Modifier
                </button>

                <a class="btn btn-outline-secondary"
                       href="{{ path('post_index') }}">Retour à la liste
                </a>
            {{ form_end(edit_form) }}
        </div>
    </div>


    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}

    <input type="submit" value="Supprimer" class="btn btn-outline-danger"/>
    {{ form_end(delete_form) }}


{% endblock %}
