{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier l'article</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class="row">
        <div class="col-md-12">
            <div class="col-3 float-left text-center">
                <input type="submit" value="Modifier"
                       class="btn btn-outline-success"/></div>
            <div class="col-3 float-left text-center">
                <a class="btn btn-outline-secondary"
                   href="{{ path('post_index') }}">Retour à la liste</a></div>
            <div class="col-3 float-left text-center">
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-outline-danger">
                {{ form_end(delete_form) }}

            </div>
        </div>
    </div>

    {{ form_end(edit_form) }}
{% endblock %}
