{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier l'article</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-outline-success" />
    {{ form_end(edit_form) }}

            <a class="btn btn-outline-secondary" href="{{ path('post_index') }}">Retour à la liste</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-outline-danger">
            {{ form_end(delete_form) }}

{% endblock %}
