{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des articles</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for BlogPost in BlogPosts %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': BlogPost.id }) }}">{{ BlogPost.id }}</a></td>
                <td>{{ BlogPost.title }}</td>
                <td>{{ BlogPost.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'id': BlogPost.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': BlogPost.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_new') }}">Créer un nouvel article</a>
        </li>
    </ul>
{% endblock %}
