{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Liste des articles</h1>
            <hr>

            <h4>Bienvenue {{ app.user.username }}</h4>
            <br>
            <div class="offset-4 col-md-4">
                <a type="button" class="btn btn-info"
               href="{{ path('post_new') }}">Créer un nouvel article</a>
            </div>
            <br>
            <div class="offset-4 col-md-4">
                <a type="button" class="btn btn-info"
               href="{{ path('comment_index') }}">Gérer les commentaires</a>

                <a type="button" class="btn btn-info"
               href="{{ path('user_index') }}">Gérer les utilisateurs</a>
            </div>

            {% for post in BlogPosts %}
                <div class="post-preview">
                    <a href="{{ path('post_show', { id:post.id }) }}">
                        <p hidden>je suis un numéro id:{{post.id}}</p>
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <p class="post-meta">Posté le {{ post.createdAt|date('d-m-Y') }}</p>

                        <h3 class="post-subtitle">
                            {# je récupère le contenu en appliquant un truncate pour le châpo#}
                            {{ post.content | truncate(100) }}
                        </h3>
                        <a class="btn"  href="{{path('post_show', {id: post.id})}}">Lire plus...</a>
                    </a>

                </div>

                        <a type="button" class="btn btn-outline-secondary"
                        href="{{ path('post_show', { 'id': post.id }) }}">Visualiser</a>

                        <a type="button" class="btn btn-outline-secondary"
                        href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>

                <hr>
            {% endfor %}
        </div>

        <div class="col-md-12"><a class="btn btn-primary float-right" href="{{path('post_index')}}">
                Retour au gestionnaire </a>
        </div>

    </div>
    <br>

    <div class="col-md-12"><a class="btn btn-primary float-right" href="#">En haut ↑</a></div>
{% endblock %}
