{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Liste des articles</h1>

                <a type="button" class="btn btn-info"
               href="{{ path('post_new') }}">Créer un nouvel article</a>

            {% for post in BlogPosts %}
                <div class="post-preview">
                    <a href="{{ path('post_show', { id:post.id }) }}">
                        <p hidden>je suis un numéro id:{{post.id}}</p>
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <p class="post-meta">Posté le {{ post.createdAt|date('d-m-Y') }}</p>

                        <h3 class="post-subtitle">
                            {#je récupère le contenu en appliquant un truncate pour le châpo#}
                            {# {{ post.contenu | truncate(100) }} #}
                            {{ post.content }}
                        </h3>
                        <a class="btn"  href="{{path('home_post_show', {id: post.id})}}">Lire plus...</a>
                    </a>

                </div>

                        <a type="button" class="btn btn-outline-secondary"
                        href="{{ path('post_show', { 'id': post.id }) }}">Visualiser</a>

                        <a type="button" class="btn btn-outline-secondary"
                        href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>

                <hr>
            {% endfor %}

        </div>
    </div>


    <div class="clearfix"><a class="btn btn-primary float-right" href="#">En haut ↑</a></div>
{% endblock %}
