{% extends 'base.html.twig' %}


{% block body %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {# je crée ma zone de post#}
            <div class="post-preview">
                <h1>Affichage d'un article</h1>
                <p type="hidden">je suis un numéro id:{{post.id}} </p>
                <h2 class="post-title">
                    {#je récupère le titre du post#}
                    {{ post.title }}
                </h2>
                <p class="post-subtitle">
                    {{ post.content }}
                </p>
                {#j'ajoute la date de mise en ligne du post#}
                <p class="post-meta">Posté le {{ post.createdAt | date('d/m/Y \H:i:s') }}</p>
            </div>

                <div>
                        <p><a type="button" class="btn btn-outline-secondary"
                             href="{{ path('post_index') }}">Retour à la liste</a>
                        </p>

                        <p><a type="button" class="btn btn-outline-success"
                           href="{{ path('post_edit', { 'id': post.id }) }}">Modifier</a>
                        </p>
                </div>

        </div>

    </div>

{% endblock %}
