{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog_comments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog_comment in blog_comments %}
            <tr>
                <td><a href="{{ path('comment_show', { 'id': blog_comment.id }) }}">{{ blog_comment.id }}</a></td>
                <td>{{ blog_comment.author }}</td>
                <td>{{ blog_comment.content }}</td>
                <td>{% if blog_comment.createdAt %}{{ blog_comment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comment_show', { 'id': blog_comment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comment_edit', { 'id': blog_comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comment_new') }}">Create a new blog_comment</a>
        </li>
    </ul>
{% endblock %}
