{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
{#
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {{ form_start(form, {'action': path(''), 'method': 'GET'}) }}
    #}
    <div class="row">
        <div class="col-sm-5 offset-sm-3">
            <div class="well">
                <form action="{{ path('login') }}" method="post">

                    <fieldset>

                        <div class="form-group">
                            <h1>Espace membre</h1>
                            <label for="username">Pseudo:</label>
                            <input type="text" id="username" name="username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe:</label>
                            <input type="password" id="password" name="password" class="form-control" />

                        </div>
                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'se connecter'|trans }}
                        </button>
                    </fieldset>
                </form>

            </div>

        </div>
    </div>


{% endblock %}
